<!DOCTYPE html>
<html lang="{{app.request.locale}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<title>
			{% block title %}Itsena
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('image/logo.jpg')}}" width="100%">
		<link rel="stylesheet" type="text/css" href="{{asset('libs/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('libs/font-awesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset('libs/owl.carousel/assets/owl.carousel.min.css')}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset('css/base.css')}}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<main role="main"> {% block body %}{% endblock %}</main>
				<script type="text/javascript " src="{{asset('libs/js/bootstrap.min.js')}}"></script>
				<script type="text/javascript " src="{{asset('libs/jquery-3.4.1.min.js')}}"></script>
				<script type="text/javascript " src="{{asset('libs/jquery-3.2.1.js')}}"></script>
				<script src="{{asset('libs/owl.carousel/owl.carousel.min.js')}}"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
